<div id="wrapper">

  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">

          <div align="center">
            <div class="dropdown profile-element">
              <a href="#" title="Inicio" class="links">
                <span>
                  <img width="70" height="70" alt="image" class="img-circle" src="assets/Imagenes/perfil.jpg" />


                </span>
              </a>
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="clear">
                  <span class="block m-t-xs">
                    <strong class="font-bold">Usuario en Sesion</strong>
                  </span> <span class="text-muted text-xs block">Administrador <b class="caret"></b></span>
                </span>
              </a>
              <ul class="dropdown-menu animated fadeInRight m-t-xs">
                <li><a href="#">Cambiar Imagen</a></li>
                <li><a href="#">Cambiar Clave</a></li>
                <li class="divider"></li>
                <li><a href="#">Cerrar Sesion</a></li>
              </ul>
            </div>
          </div>

          <div class="logo-element">
            IN+
          </div>
        </li>

        <li>
          <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">Administracion</span> <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse">
            <li> <a [routerLink]="['Usuarios']">Usuarios</a> </li>

            <!--
            <li>
              <a href="#">  <span class="nav-label">Lugares</span><span class="fa arrow"></span></a>
              <ul class="nav nav-second-level collapse">
                <li> <a href="#">Departamentos</a> </li>
                <li> <a href="#">Municipios</a> </li>
              </ul>
            </li>

            <li> <a href="#">Dependencias</a> </li>
            <li> <a [routerLink]="['Usuarios']">Usuarios</a> </li>
            <li> <a href="#">Clientes</a> </li>

            <li>
              <a href="#"> <span class="nav-label">Series Documentales </span><span class="fa arrow"></span></a>
              <ul class="nav nav-second-level collapse">

                <li> <a href="#">Series</a> </li>
                <li> <a href="#">Sub Series</a> </li>

              </ul>
            </li>-->
            <!--<li> <a href="#">Tipos Documentales</a> </li>
            <li> <a href="#">Tramites</a> </li>
            <li> <a href="#">Tipos Mime</a> </li>-->

          </ul>
        </li>

        <!--<li>
          <a href="#"><i class="fa fa-eye-slash"></i> <span class="nav-label">Seguridad</span> <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse">

            <li> <a href="#">Lista Perfiles</a> </li>
            <li> <a href="#">Gestion Role/Perfil</a> </li>
            <li> <a href="#">Gestion Usuario/Rol</a> </li>

          </ul>
        </li>

        <li>
          <a href="index.html"><i class="fa fa-envelope-o"></i> <span class="nav-label">Correspondencia</span> <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse">

            <li> <a href="#">Radicacion</a> </li>
            <li> <a href="#">Circulares</a> </li>
            <li> <a href="#">Buzon Area</a> </li>
            <li> <a href="#">Mi Buzon</a> </li>

          </ul>
        </li>

        <li>
          <a href="index.html"><i class="fa fa-comments-o"></i> <span class="nav-label">Varios</span> <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse">

            <li> <a href="#">Notas Rapidas</a> </li>

          </ul>
        </li>

        <li>
          <a disabled href="index.html"><i class="fa fa-child"></i> <span class="nav-label">Opciones Especiales</span> <span class="fa arrow"></span></a>
          <ul disabled class="nav nav-second-level collapse">

            <li> <a href="#">Imprimir Stiker</a> </li>
            <li> <a href="#">Abrir Radicado</a> </li>

          </ul>
        </li>

        <li>
          <a href="index.html"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Reportes</span> <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse">

            <li> <a href="#">Ingresos al Sistema</a> </li>
            <li> <a href="#">Radicados de Entrada</a> </li>
            <li> <a href="#">Radicados Internos</a> </li>
            <li> <a href="#">Radicados de Salida</a> </li>
            <li> <a href="#">Mi Dependencia</a> </li>

          </ul>
        </li>

        <li>
          <a href="index.html"><i class="fa fa-pie-chart"></i> <span class="nav-label">Analisis de Datos</span> <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse">
            <li> <a href="#">Ingresos al Sistema</a> </li>
          </ul>
        </li>-->

      </ul>
    </div>
  </nav>

</div>
